<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>............App Logo........</span>
        
        <button mat-icon-button (click)="toggleSideBar()" >
            <mat-icon>menu</mat-icon>
        </button>

        

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li><mat-search-bar></mat-search-bar></li>
                <li>
                    <button mat-icon-button>
                        <mat-icon><img src="./../../../../assets/images/mail.png" height="25px" /></mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon><img src="./../../../../assets/images/notification.png"height="25px"/></mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon><img src="./../../../../assets/images/chat.png" height="25px"/></mat-icon>
                    </button>
                </li>
               
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>