.mat-toolbar-row
{
  background-color:rgb(71, 68, 68);;
  border: none;
  color: white;
}

mat-icon{
  color:#35536b;
  vertical-align:middle;
  font-size:30px;
  
}
ul li {
    list-style: none;
    .mat-search-bar{
      z-index: 500;
      padding-top: 50px;
      text-align: center;
    }
  }



  